.pourcent-joueur {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 1rem; /* Utilisation d'unités relatives */
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 3.5rem; /* Utilisation d'unités relatives */
    color: #ffffff;
    margin: 2rem 0; /* Utilisation d'unités relatives */
    font-family: 'Arial', sans-serif;
    padding-bottom: 5rem; /* Utilisation d'unités relatives */
}

h2 {
    text-align: center;
    font-size: 1.8rem; /* Utilisation d'unités relatives */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    padding: 2rem 10%; /* Utilisation de pourcentages pour le rembourrage */
}
h3 {
    text-align: center;
    font-size: 1.8rem; /* Utilisation d'unités relatives */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    padding: 2rem 10%; /* Utilisation de pourcentages pour le rembourrage */
}

.title1 {
    display: flex;
    justify-content: center;
}

.title-pie {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.title-pie h3 {
    padding: 1.5rem; /* Utilisation d'unités relatives */
    font-size: 1.25rem; /* Utilisation d'unités relatives */
    color: black;
}

.intro {
    margin: 5%; /* Utilisation de pourcentages pour la marge */
    box-sizing: border-box;
}



.title-pg1 {
    text-align: center;
    margin-bottom: 2rem; /* Utilisation d'unités relatives */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    color: #2c3e50;
}

.pg1 {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Changement de direction pour les petits écrans */
    align-items: center; /* Centre les éléments */
}

.paragraph-container {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding-bottom: 2rem; /* Utilisation d'unités relatives */
}

.paragraph-container2 {
    display: flex; /* Utilise Flexbox pour les paragraphes */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement (si nécessaire) */
    width: 100%; /* Utilise toute la largeur disponible */
    padding-bottom: 30px;
}

.pg1 p {
    width: 90%; /* Ajustement pour les petits écrans */
    color: #ffffff;
    padding: 1rem; /* Utilisation d'unités relatives */
    border-radius: 10px;
    transition: transform 0.3s;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
}

.testanim {
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.testanim:hover {
    transform: scale(1.1); /* Réduction de l'échelle pour les petits écrans */
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.pourcent-joueur p {
    font-size: 0.625rem; /* Utilisation d'unités relatives */
    color: #555;
    margin-top: 0.5rem; /* Utilisation d'unités relatives */
    text-align: center;
}

.background-image {
    width: 100%;
    height: 10vh; /* Utilisation d'unités relatives */
    background-image: url('/img/vague.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: -2rem; /* Utilisation d'unités relatives */
}

.wave {
    height: 10vh; /* Utilisation d'unités relatives */
    background: white;
    clip-path: polygon(0 100%, 10% 80%, 20% 90%, 30% 70%, 40% 90%, 50% 60%, 60% 70%, 70% 50%, 80% 60%, 90% 30%, 100% 40%, 100% 100%);
}



.wave2 {
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    background: white; /* Couleur de fond de la vague */
    clip-path: polygon(0 0, 10% 25%, 20% 20%, 30% 35%, 40% 20%, 50% 50%, 60% 30%, 70% 35%, 80% 20%, 90% 25%, 100% 0);
}
.columchart_responsive {
    width: 90%; /* Ajustement pour les petits écrans */

}

/*--------------------------------------------------------------------------------------------------
------------------------------------------RESPONSIVE 1-------------------------------------------------
--------------------------------------------------------------------------------------------------*/

@media (max-width: 480px) {
    .pourcent-joueur {
        flex-direction: column; /* Change la direction des éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */     
    }

    .title-pie h3 {
        padding: 1rem; /* Utilisation d'unités relatives */
        font-size: 1rem; /* Utilisation d'unités relatives */
        color: black;
    }
    h1 {
        text-align: center;
        font-size: 2.5rem; /* Utilisation d'unités relatives */
        color: #ffffff;
        margin: 2rem 0; /* Utilisation d'unités relatives */
        font-family: 'Arial', sans-serif;
        padding-bottom: 5rem; /* Utilisation d'unités relatives */
    }
    
    h2 {
        text-align: center;
        font-size: 1.5rem; /* Utilisation d'unités relatives */
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        line-height: 1.5;
        padding: 2rem 10%; /* Utilisation de pourcentages pour le rembourrage */
    }
    .pg1 p {
        width: 90%; /* Ajustement pour les petits écrans */
        color: #ffffff;
        padding: 1rem; /* Utilisation d'unités relatives */
        border-radius: 10px;
        transition: transform 0.3s;
        font-size: 1.3rem;
        font-family: 'Arial', sans-serif;
    }
    .columchart_responsive {
        width: 100%; /* Ajustement pour les petits écrans */

    }
    .paragraph-container{
        display: block;
    }
}

