.pourcent-joueur{
    display: flex;
    justify-content: space-evenly ;
    background-color: white;
}


body {
    background-color: black;
}

h1 {
    text-align: center; /* Centre le texte */
    font-size: 3.5em; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    margin: 20px 0; /* Marge en haut et en bas */
    font-family: 'Arial', sans-serif; /* Police de caractère */
    padding-bottom: 75px;
}

h2 {
    text-align: center; /* Centre le texte */
    font-size: 1.8em; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    margin: 15px 0; /* Marge en haut et en bas */
    font-family: 'Arial', sans-serif; /* Police de caractère */
    line-height: 1.5; /* Hauteur de ligne pour le texte */
    padding-left: 200px; /* Ajoute un rembourrage autour du contenu */
    padding-right: 200px; /* Ajoute un rembourrage autour du contenu */
    padding-bottom: 75px;
}

.title1{
    display: flex;
    justify-content: center;
}
.title-pie{
      display: flex;
    justify-content: space-evenly ;
    background-color: white;
}

.title-pie h3{
    font-size: 20px;
    color: black;

    
}
.intro{
    margin: 100px; /* Supprime la marge par défaut du body */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
}